@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
}

.cabin-Bold {
    font-family: 'Cabin', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "width" 100;
}

body {
    font-family: 'Cabin', sans-serif;
}

.navbar {
    background-color: #373a3c;
}

.navbar-brand {
    font-family: 'Lobster', sans-serif;
    font-size: 37px;
    font-weight: 400;
}

.maint{
    font-size: 40px;
}

hr {
    height: 4px;
    color: #000000;  
}

.borbtn{
    border: 2px solid #DDDDDD; /* Borde de 2px de ancho, sólido, color negro */
}

.carousel-indicators {
    position: absolute !important;
    left: 35% !important;
    transform: translateX(-50%) !important;
    bottom: -50px !important; /* Ajusta la posición de los indicadores */
    display: flex !important;
    justify-content: center !important;
    gap: 5px !important; /* Espacio entre los indicadores */
}

.carousel-indicators button {
    background-color: #303030 !important; /* Color negro */
    border-radius: 50% !important; /* Hacer los indicadores circulares */
    width: 15px !important; /* Ancho del indicador */
    height: 15px !important; /* Altura del indicador */
    border: none !important; /* Eliminar bordes */
}

.carousel-indicators .active {
    background-color: #000000 !important; /* Color blanco cuando está activo */
}

.ing-prep {
    font-size: 20px;
}

.title-ing {
    display: inline-block; /* Asegura que el borde solo cubra el texto */
    border-bottom: 1px solid black; /* Define el grosor y color del borde */
    padding-bottom: 5px; /* Espacio entre el texto y el borde */
    width: auto;
    text-align: left;
}

ul {
    list-style-type: none; /* Quita los puntos de lista */
    padding: 0;            /* Elimina el relleno predeterminado */
}

.card-title {
    font-size: 23px;
}

#sub {
    background-color: #dc3545;
    height: 534px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsletter h1 {
    font-size: 40px;
}

.newsletter p {
    font-size: 30px;
}

#rico {
    font-family: 'Lobster', sans-serif;
}

.newsletter .btn {
    width: 30%;
}

footer {
    background-color: #343a40;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: 37px;
}

